table.codes {
	border-collapse: collapse;
	width: 50%;	
}
th {
	font-weight: bold;
}

td.code {
	font-family: 'Courier New', 'Courier', 'Monaco', monospace;
	padding: 6px;
}

/* border=4 cellpadding=0 cellspacing=2 width=597 style="border-collapse:
 collapse;table-layout:fixed" /
