name: Publication to GitHub Pages

on:
  push:
    branches:
      - main

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Git checkout
      uses: actions/checkout@v2

    - name: Use Node.js 8
      uses: actions/setup-node@v2
      with:
        node-version: '8'

    - name: Setup Pages
      uses: actions/configure-pages@v2

    - run: npm install -g browserify
    - run: npm install
    - run: NODE_ENV=production browserify -t brfs src/app.js -o dist/js/bundle.js

    - name: Combine CSVs
      shell: python
      run: |
        import csv, json, glob

        ignore = ['specifications', 'unlisted', 'knownduplicates', '-qt', 'textualcontent']
        boxes = []
        for file in glob.glob('CSV/*.csv'):
            if any([i in file for i in ignore]):
                continue
            with open(file, 'r') as f:
                boxes.extend(csv.DictReader(f))
        with open("boxes.json", 'w') as f:
            json.dump(boxes, f)

    - name: Upload artifact
      if: ${{ github.repository == 'mp4ra/mp4ra.github.io' }} 
      uses: actions/upload-pages-artifact@v1
      with:
        path: .

    - name: Deploy to GitHub Pages
      if: ${{ github.repository == 'mp4ra/mp4ra.github.io' }}
      uses: actions/deploy-pages@v1
